snippet s
	Scenario: ${1}
	  Given ${2}
snippet f
	Feature: ${1}
snippet feature
	Feature: ${1}
		In order to ${2}
		As a${3}
		I ${4}

		Scenario: ${5}
			Given ${6}
snippet a
	And ${1}
snippet af
	And I fill in "${1}" with "${2}"${3}
snippet ap
	And I press "${1}"${2}
snippet as
	And I press "submit"${1}
snippet g
	Given ${1}
snippet w
	When ${1}
snippet t
	Then ${1}
