priority -50
snippet tdi
<template is="dom-if" if="${1}">
	${2:${VISUAL:pass}}
</template>
endsnippet
snippet tdr
<template is="dom-repeat" items="${1:items}"${2: item="${3:name}"}>
	${4:${VISUAL:pass}}
</template>
endsnippet
