[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-yard"]
	path = bundle/vim-yard
	url = git://github.com/postmodern/vim-yard.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/better-snipmate-snippets"]
	path = bundle/better-snipmate-snippets
	url = git://github.com/bartekd/better-snipmate-snippets.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/nvm"]
	path = bundle/nvm
	url = https://github.com/creationix/nvm.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/solarized_all"]
	path = bundle/solarized_all
	url = https://github.com/altercation/solarized.git
[submodule "bundle/gnome-terminal-colors-solarized"]
	path = bundle/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "colors/tomorrow-theme"]
	path = colors/tomorrow-theme
	url = https://github.com/btelles/tomorrow-theme.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/jwhitley/vim-matchit.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = http://github.com/mattn/emmet-vim.git
[submodule "bundle/utilsnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "git-prompt"]
	path = git-prompt
	url = git@github.com:btelles/git-prompt.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "vim"]
	path = vim
	url = https://github.com/vim/vim
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
