Screw.Matchers['${1:matcher}'] = {
  match: function(expected, actual) {
    return ${2:actual.indexOf(expected) != -1};
  },
  failure_message: function(expected, actual, not) {
    return 'expected ' + \$.print(actual) + (not ? ' not' : '') + ${3:' to include ' + \$.print(expected)};
  }
};